.container{
    h3{
        font-weight: 600;
        font-size: 22px;
        line-height: 26px;
        color: #3D639D;
        margin-bottom: 20px;
    }

    h4{
        line-height: 19px;
        letter-spacing: -.3px;
        color: #262728;
        margin: 30px 0 20px 0;
    }

    .devices{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
        gap: 20px;
    }
}