.container{
    background-color: white;
    padding: 30px;
    position: relative;
    border-radius: 16px;

    .busket{
        position: absolute;
        top: -20px;
        right: 16px;
        cursor: pointer;
    }

    h3{
        color: #3D639D;
        font-size: 22px;
        line-height: 26px;
        margin-bottom: 30px;
    }

    .mainInfo{
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 20px;
        width: 100%;
        
        .deviceImg{
            width: 480px;
            height: 380px;
            padding: 54px;
            background-color: #F3F5F8;
            position: relative;
            border-radius: 16px;

            .img{
                height: 268px;
                width: auto;
                position: relative;
            }
        }

        .information{
            display: flex;
            flex-direction: column;
            gap: 40px;

            .price{
                display: flex;
                flex-direction: column;
                gap: 8px;

                h4{
                    font-weight: 400;
                    line-height: 19px;
                    color: #BBC2D0;
                }

                p{
                    font-weight: 600;
                    line-height: 19px;
                    letter-spacing: .01em;
                }
            }

            .overall {
                display: flex;
                flex-direction: column;   
                gap: 8px;
                align-items: center;

                .marginprice{
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    justify-content: space-between;
                    width: 100%;

                    div{
                        &:nth-of-type(2){
                            color: white;
                            background: hsl(351, 100%, 70%);
                            border-radius: 2px;
                            font-weight: 600;
                            font-size: 16px;
                            letter-spacing: -0.3px;
                            padding: 2px 6px;
                        }
                    }
                }

                .marginoptions{
                    width: 100%;
                    display: flex;
                    flex-direction:row;
                    justify-content: space-around;
                    margin-top: 8px;
                    
                    p{
                        padding-top: 12px;
                        padding-bottom: 12px;
                        width: 100%;
                        border: 1px solid #00C48C;
                        color: #00C48C;
                        cursor: pointer;
                        font-size: 15px;
                        line-height: 17px;
                        letter-spacing: -0.3px;
                        text-align: center;

                        &.active{
                            background: #00C48C;
                            color: white;
                        }

                        &:first-child{
                            border-radius: 6px 0px 0px 6px;
                        }

                        &:last-child{
                            border-radius: 0px 6px 6px 0;
                        }
                    }
                }
            }

            .charasteristics {
                display: flex;
                flex-direction: column;
                gap: 21px;

                div{
                    &:nth-of-type(2){
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                        justify-content: space-between;
                        color: #00C48C;
                        cursor: pointer;
                        border-radius: 15px;

                        svg * {
                            fill: #00C48C;
                        }

                        &:hover{
                            background-color: rgb(231, 231, 231);
                        }
                    }
                }
            }
        }
    }

    .additionalInfo{
        p{
            &:first-child{
                color: #00C48C;
                margin-top: 30px;
                margin-bottom: 20px;
            }
        }

        .line {
            opacity: 0.4;
            border: 1px solid #BBC2D0;
            margin: 10px 0;
        }
    }

    .button{
        cursor: pointer;
        background-color: #00C48C;
        border-radius: 26px;
        color: white;
        display: flex;
        flex-direction: row;
        justify-content: center;
        padding: 16px;
        font-weight: 600;
        line-height: 19px;
        letter-spacing: .01em;
        margin-top: 30px;
    }
}